.home{
    color: black;
    font-size: larger;


}

h1{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 900;
}
a:hover {
    text-decoration: none;
}
h4 {
    text-align: center;

}

p {
    text-align: justify;
    margin-top: 10px;
    max-width: 75%;
}


.container{
    margin-top: 40px;
}
footer{
position: absolute;
}

footer h4 {
    position: fixed;
}

.col-sm-6 {
    margin-bottom: 20px;
}